*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#input{
    background-color:rgb(78, 45, 45);
    width:100vw;
    height : 50vh;
    color: white;
    font-weight : 700;
    display  : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3em;
}

#number{
    width: 150px;
    height: 40px;
    font-size: 1.5em;
    padding: 0px 10px;
}

#button{
    width: 100px;
    height: 40px;
    font-size: 1.2em;
    background-color: rgb(101, 63, 16);
    color: black;
}

.square{
    height: 50px;
    width: 50px;
    background-color: rgb(67, 43, 90);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
    text-align: center;
    position: relative;
}

.rectangle{
    height: 50px;
    width: 100px;
    background-color:rgb(154, 93, 71);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
    text-align: center;
    position: relative;
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:rgb(116, 75, 96);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
    text-align: center;
    position: relative;
}

.box{
    display: flex;
    flex-direction: row wrap;
    position: absolute;
    margin: 10px;
}